<div class="row">
    <div class="col-6">
        <app-dona tittle="Ventas"
        ></app-dona>
    </div>

    <div class="col-6">
        <app-dona 
            tittle="Compras"
            [labels]="labels1"
            [data]="data1"
             >

        </app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona tittle='Rechazo'
        [data]="data2"></app-dona>
    </div>

    <div class="col-6">
        <app-dona tittle='Cambios'></app-dona>
    </div>
</div>

